<%= erb :header %>
        <img id="snacks" class="bg" src="<%= @image_name %>" onerror="imgError(this);" />
        <div id="fence">Random Google Image searches of 'rice' on a <a href="https://developers.google.com/image-search/">deprecated API</a>. <br /><a href="/about">Why?</a> <a href="/">Again</a>.<br />By <a href="https://twitter.com/kripy">@kripy</a>.</div>
<%= erb :footer %>