<img id="snacks" class="bg" src="{{image_name}}" onerror="imgError(this);" />
<div id="bent">
    <strong>Why Not?</strong><br />I was looking for something to do and rice seemed like a good idea at the time.
    <br /><br /><strong>Notes</strong><br />The <a href="https://developers.google.com/image-search/">deprecated API</a> only returns four results per request for a maxiumum of 60 pages worth of results. This means a maximum of 240 images until the index is updated.
    <br /><br /><strong>Tech</strong><br /><a href="http://www.sinatrarb.com/">Sinatra</a> on <a href="http://unicorn.bogomips.org">Unicorn</a> on <a href="http://www.heroku.com/">Heroku</a>.            
    <br /><br /><strong>The Future</strong><br />Upgrade to <a href="https://developers.google.com/custom-search/v1/overview">Custom Search API</a>.
    <br /><br /><strong>Versions</strong>
    <br><strong>0.2.0: </strong>Templates into <a href="http://mustache.github.io/">Mustache</a>; link to recipe.
    <br><strong>0.1.2: </strong>Array of random rice dishes; sitemap.
    <br><strong>0.1.1: </strong>Unicorn; partials; dynamic title tags.
    <br><strong>0.1.0: </strong>Add Google Analytics.
    <br><strong>0.0.6: </strong>Get image moved to helper; ugly hack for images returning 403 errors.
    <br><strong>0.0.5: </strong>Base app; code UI; hit Google Image search; parse JSON; request and display image.
    <br /><br /><a href="{{image_link}}">Eat this</a>. <a href="/">Stephanie's Rice</a>. 
</div>