<img id="snacks" class="bg" src="{{image_name}}" onerror="imgError(this);" />
<div id="fence">
{{#rate_limit}}
Rate limited by <a href="https://developers.google.com/custom-search/v1/overview">Google Custom Search API</a>! So here's a random pic from the database.
{{/rate_limit}}
{{^rate_limit}}
Random Google Image searches of '{{rice}}' on the <a href="https://developers.google.com/custom-search/v1/overview">Google Custom Search API</a>
{{/rate_limit}}
<br /><a href="/about">Why?</a> <a href="/">Again</a>. <a href="{{image_link}}">Eat this</a>.<br />By <a href="https://twitter.com/kripy">@kripy</a>.
</div>